body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.upload-box {
    width: 250px;
    height: 250px;
    border: 2px dashed #999;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    position: relative;
}

.upload-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: -38px;
}

.upload-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}


button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

a:hover {
    color: darkred;
}